footer {
  text-align: center;
  letter-spacing: 3px;
  padding-top: 70px;
  padding-bottom: 70px;
  display: block;
}

.name {
  font-family: 'Questrial', sans-serif;
  font-size: 15px;
  font-weight: bolder;
  color: black;
}

 