.main-title {
  text-align: center;
  letter-spacing: 6px;
  font-size: 40px;
  font-weight: bolder;
  font-style: italic;
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--blue-text);
  font-family: var(--font);
}

.sub-title {
  text-align: center;
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--blue-text);
  font-family: var(--font);
}

.reg-text {
  float: left;
  letter-spacing: 2px;
  padding-top: 30px;
  padding-left: 30px;
  color: var(--blue-text);
  font-family: var(--font);
  font-size: 15px;
  display: block;
}

.reg-title {
  float: left;
  letter-spacing: 3px;
  padding-top: 30px;
  padding-left: 30px;
  font-weight: bold;
  color: var(--blue-text);
  font-family: var(--font);
  font-size: 25px;
  display: block;
}