.background {
  background-color: rgb(181, 223, 247);
  width: 500px;
  padding: 10px;
  border: 3px solid rgb(108, 211, 243);
  margin: 0 auto;
}

.main-title {
  text-align: center;
  letter-spacing: 6px;
  font-size: 40px;
  font-weight: bolder;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--blue-text);
  font-family: var(--font);
}

.sub-title {
  text-align: center;
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--blue-text);
  font-family: var(--font);
}

.reg-text {
  text-align: center;
  float: center;
  letter-spacing: 3px;
  color: var(--blue-text);
  font-family: var(--font);
  font-size: 15px;
  display: block;
}

.reg-title {
  text-align: center;
  float: center;
  letter-spacing: 3px;
  font-weight: bold;
  color: var(--blue-text);
  font-family: var(--font);
  font-size: 25px;
  display: block;
}