<div [ngStyle]="{backgroundImage:'url(../../../assets/images/nature-background.jpg'}" class="main">
  <div>
    <ul>
      <div class="nav">
        <li><a href="/" class="sub-title">Home</a></li>
        <li><a href="/about" class="sub-title">About</a></li>
        <li><a href="/map" class="sub-title">Water Map</a></li>
        <li><a href="/stats" class="sub-title">Statistics</a></li>
        <li><a href="/news" class="sub-title">News</a></li>
        <li><a href="/facts" class="sub-title">Fun Facts</a></li>
      </div>
    </ul>
  </div>

  <h1 class="main-title">Our Water, Visualized</h1>
    <h2 class="sub-title">Do you wonder what the water situation looks like?</h2>
    <h2 class="sub-title">See Real-Time visualizations from all 50 states in the US.</h2>

    <div class="sub-title">
      <a href="/about">Learn More About This Project</a>
    </div>

</div>

<div [ngStyle]="{backgroundImage:'url(../../../assets/images/island.jpg'}" class="main">
  <footer>
    <p>Made by Raymond Yan, Powered by USGS<br>
    <a href="https://usgs.gov">USGS</a></p>
  </footer>
</div>