@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(+100%);
  }
  100% {
    transform: translateX(0);
  }
}

.main-title {
  text-align: center;
  letter-spacing: 6px;
  font-size: 40px;
  font-weight: bolder;
  font-style: italic;
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--blue-text);
  font-family: var(--font);
  animation: 0.7s ease-out 0s 1 slideInFromLeft;
}
 
.sub-title {
  text-align: center;
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--blue-text);
  font-family: var(--font);
  animation: 0.7s ease-out 0s 1 slideInFromRight;
}


.container {
  display: flex;
  align-self: center;
}

mat-card {
  height: 200px;
  margin: 3em;
  background-color: var(--background-light);
  color: var(--blue-text);
}

img {
  width: 20%;
  padding-left: 2em;
}

.viewport {
  height: 400px;
  width: 100%;
  background: var(--background-very-light);
  margin: 2em 8em 8em;
  box-shadow: 1px 1px 1px var(--background-light);
}